<!DOCTYPE html>
<html>
<head>
	
</head>
<body >






<p id="notice"><%= notice %></p>

<form>
	<fieldset>

	<legend><h1>Details</h1></legend>

	<head>
<style>
table, th, td {
  border: 1px solid black;
}
body{
	  background: url(<%= asset_path 'image.jpg' %>);
  background-size: 200%;
}

table {
  width:50%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}

</style>
</head>

<table>
	<table id="t01">
	<tr>
		<th></th>
		<th> </th>
	</tr>
	<tr>


<td>
  <strong>First name:</strong></td>
  <td><%= @user.first_name %>
</td>
</tr>
<tr>
<td>
  <strong>Last name:</strong></td>
  <td><%= @user.last_name %></td>
</tr>
<tr>
<td>
  <strong>Date of Birth</strong></td>
  <td>
  	<%= @user.date_of_birth%>
</td></tr>
<tr>
<td>
  <strong>Date of Joining:</strong></td>
  <td><%= @user.date_of_joining %></td>
</tr>
<tr>
<td>
  <strong>Employee ID:</strong></td>
  <td><%= (@user.employee_id).to_i%></td>
</tr>
<tr>
<td>
  <strong>Department:</strong></td>
  <td><%= @user.department %></td>
</tr>
<tr>
<td>
  <strong>Designation:</strong></td>
  <td><%= @user.designation %></td>
</tr>
<tr>
<td>
  <strong>Bank Name:</strong></td>
  <td><%= @user.bank_name %></td>
</tr>
<tr>
<td>
  <strong>Bank Branch:</strong></td>
  <td><%= @user.bank_branch %></td>
</tr>
<tr>
<td>
  <strong>IFSC Code:</strong></td>
  <td><%= @user.ifsc_code %></td>
</tr>

<tr>
<td>
  <strong>Bank Account:</strong></td>
  <td><%= (@user.bank_account).to_i %></td>
</tr>
<tr>
<td>
  <strong>Salary Per Annum:</strong></td>
  <td><%= @user.salary_per_annum%></td>
</tr>
<tr>
<td>
  <strong>Salary Per Month:</strong></td>
  <td><%= (@user.salary_per_annum/12).to_i %></td>
</tr>
<tr>
<td>
  <strong>Address:</strong></td>
  <td><%= @user.addrress%></td>
</tr>
<tr>


<td>
  <strong>State:</strong></td>
  <td><%= @user.state%></td>
</tr>
<tr>
<td>
  <strong>Pincode:</strong></td>
  <td><%= (@user.pincode).to_i%></td>
</tr>
<tr>
	<td>
  <strong>Country:</strong></td>
  <td><%= @user.country%></td>
</tr>
<tr>
<td>
  <strong>Gender:</strong></td>
  <td><%= @user.gender%></td>
</tr>
<tr>





<td>
  <strong>Mobile:</strong></td>
  <td><%= @user.mobile %></td>
</tr>
<tr>


<td>
  <strong>Blood Type:</strong></td>
  <td><%= @user.blood_type %></td>
</tr>
<tr>
<td>
  <strong>Emergency Contact Name:</strong></td>
  <td><%= @user.emergency_contact_name %></td>
</tr>
<tr>
<td>
  <strong>Emergency Ccontact Number:</strong></td>
  <td><%= @user.emergency_contact_number %></td>
</tr>
<tr>
<td>
  <strong>Primary Skill:</strong></td>
 <td> <%= @user.primary_skill %></td>
</tr>
<tr>


<td>
  <strong>Secondary Skill 1:</strong></td>
  <td><%= @user.secondary_skill_1 %></td>
</tr>
<tr>

<td>
  <strong>Secondary Skill 2:</strong></td>
 <td> <%= @user.secondary_skill_2 %></td>
</tr>
<tr>

<td>
  <strong>Notice Period in Days:</strong></td>
  <td><%= @user.notice_period_in_days %></td>
</tr>

<tr>
<td>
  <strong>Role:</strong></td>
 <td> <%= @user.role %></td>
</tr>



<tr>
<td>
  <strong>Email:</strong></td>
  <td><%= @user.email %></td>
</tr>

</table>

<button><%= link_to 'Edit', edit_user_path(@user) %> </button>
<button><%= link_to 'Back', users_path %></button>
<button onclick="myFunction()">Print this page</button>

</fieldset>
</form>

<script>
function myFunction() {
  window.print();
}
</script>













</body>
</html>





