<!DOCTYPE html>
<html>





<head>
	<style > 
		body{
			 background: url(<%= asset_path 'image.jpg' %>);
  background-size: 200%;
		}
		  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ccc;
  text-align: center;
  padding: 18px 35px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 135px;
 

}

li a:hover {
  background-color: black;
}





table {
  width:50%;
}
table, th, td {
  border: 1px solid black;
  }
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}





 




	</style>
</head>




<body>
	  
	
	
	
	


	<% if current_user && current_user.role == "Admin" %>
	 <img src="assets/exalogic.png" alt="exalogic logo" width="120" height="40" style="position: relative;left: 1050px;">
	
	

	<ul>

		<li style="font-weight:bold; color: black;"><%= link_to "Create Employee", signup_path %></li>
		<li style="font-weight:bold;"><%= link_to "View Employee", users_path%></li>
		<li style="font-weight:bold;"><a href="https://www.facebook.com/exalogicsolns/html/" target="_blank">Follow Us</a></li>

		<li style="font-weight:bold; text-decoration: none;"><%= link_to "Log Out",logout_path %></li>


		
		
	</ul><br><br>

	<br><center><h1 style="background-color: initial;">Welcome Admin<br></h1></center>
	<center><img style="border-radius: 40px" src="assets/admin.jpg" alt="admin logo" width="150" height="150"></center><br><br><br>


	



	<center><STRONG>ACTIVE USERS</STRONG><br></center>
	 <center><%= User.count-1 %></center>
		



	<%elsif current_user && current_user.role == "Emplpyee"%>

   		<strong><h1>Welcome <%= current_user.first_name%></h1></strong>

		<table border="1" id="table">
			<table id="t01">
		<tr>

		<th>First name</th>

		<td><%= current_user.first_name%></td>
		</tr>
		<tr>
		<th>Last name</th>
		<td><%= current_user.last_name%></td>
		</tr>
		<tr>
		<th>Date of birth</th>
		<td><%= current_user.date_of_birth%></td>	
		</tr>
		<tr>
		<th>Date of joining</th>
		<td><%= current_user.date_of_joining%></td>
		</tr>
		<tr>
		<th>employee_id</th>
		<td><%= (current_user.employee_id).to_i%></td>
		</tr>
		<tr>
		<th>department</th>
		<td><%= current_user.department%></td>
		</tr>
		<tr>
		<th>designation</th>
		<td><%= current_user.designation%></td>
		</tr>
		<tr>
		<th>bank_name</th>
		<td><%= current_user.bank_name%></td>
		</tr>
		<tr>
		<th>bank_branch</th>
		<td><%= current_user.bank_branch%></td>
		</tr>
		<tr>
		<th>ifsc_code</th>
		<td><%= current_user.ifsc_code%></td>
		</tr>
		<tr>
		<th>bank_account</th>
		<td><%= (current_user.bank_account).to_i%></td>
		</tr>
		<tr>
		<th>Salary per annum</th>
		<td><%= current_user.salary_per_annum%></td>
		</tr>
		<tr>
		<th>Salary per month</th>
		<td><%=(current_user.salary_per_annum/12).to_i%></td> 
		</tr>
		<tr>
		<th>Email</th>
		<td><%= current_user.email%></td>
		</tr>
		<tr>
		<th>Address</th>
		<td><%= current_user.addrress%></td>
		</tr>
		<tr>
		<th>Mobile</th>
		<td><%= current_user.mobile%></td>
		</tr>
		<tr>
		<th>Blood type</th>
		<td><%= current_user.blood_type%></td>
		</tr>
		<tr>
		<th>Emergency contact name</th>
		<td><%= current_user.emergency_contact_name%></td>
		</tr>
		<tr>
		<th>Emergency contact number</th>
		<td><%= current_user.emergency_contact_number%></td>
		</tr>
		<tr>
		<th>Primary skill</th>
		<td><%= current_user.primary_skill%></td>
		</tr>
		<tr>
		<th>Secondary skill 1</th>
		<td><%= current_user.secondary_skill_1%></td>
		</tr>
		<tr>
		<th>Secondary skill 2</th>
		<td><%= current_user.secondary_skill_2%></td>
		</tr>

		</table>
		<br>
		<button><%= link_to "Log Out",logout_path %></button>
		<button><%= link_to "Salary Details", salary_details_path %></button>


	<%end%>

	<div class="content"> 

	

<!-- Use a button to pause/play the video with JavaScript -->

</div>




<!-- Optional: some overlay text to describe the video -->






<p id="notice"><%= notice %></p>


</body>
</html>





