<!DOCTYPE html>
<html>





<head>
	<style > 
		body{
			 background: url(<%= asset_path 'image.jpg' %>);
  background-size: 200%;
		}
		  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ccc;
  text-align: center;
  padding: 16px 25px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 200px;
 

}

li a:hover {
  background-color: black;
}





table {
  width:50%;
}
table, th, td {
  border: 1px solid black;
  }
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}





 




	</style>
</head>




<body>
	  
	
	
	
	


	<% if current_user && current_user.role == "Admin" %>
	<h1 style="background-color: initial;">Welcome Admin</h1>
	

	<ul>

		<li style="font-weight:bold; color: black;"><%= link_to "Create Employee", signup_path %></li>
		<li style="font-weight:bold;"><%= link_to "View Employee", users_path%></li>
		<li style="font-weight:bold; text-decoration: none;"><%= link_to "Log Out",logout_path %></li>
		
		
	</ul>
	<br>
	<STRONG>ACTIVE USERS</STRONG><br>
	 <%= User.count-1 %>
		



	<%elsif current_user && current_user.role == "Emplpyee"%>

   		<strong><h1>Welcome <%= current_user.first_name%></h1></strong>

		<table border="1" id="table">
			<table id="t01">
		<tr>

		<th>First name</th>

		<td><%= current_user.first_name%></td>
		</tr>
		<tr>
		<th>Last name</th>
		<td><%= current_user.last_name%></td>
		</tr>
		<tr>
		<th>Date of birth</th>
		<td><%= current_user.date_of_birth%></td>	
		</tr>
		<tr>
		<th>Date of joining</th>
		<td><%= current_user.date_of_joining%></td>
		</tr>
		<tr>
		<th>Salary per annum</th>
		<td><%= current_user.salary_per_annum%></td>
		</tr>
		<tr>
		<th>Salary per month</th>
		<td><%=(current_user.salary_per_annum/12).to_i%></td> 
		</tr>
		<tr>
		<th>Email</th>
		<td><%= current_user.email%></td>
		</tr>
		<tr>
		<th>Address</th>
		<td><%= current_user.addrress%></td>
		</tr>
		<tr>
		<th>Mobile</th>
		<td><%= current_user.mobile%></td>
		</tr>
		<tr>
		<th>Blood type</th>
		<td><%= current_user.blood_type%></td>
		</tr>
		<tr>
		<th>Emergency contact name</th>
		<td><%= current_user.emergency_contact_name%></td>
		</tr>
		<tr>
		<th>Emergency contact number</th>
		<td><%= current_user.emergency_contact_number%></td>
		</tr>
		<tr>
		<th>Primary skill</th>
		<td><%= current_user.primary_skill%></td>
		</tr>
		<tr>
		<th>Secondary skill 1</th>
		<td><%= current_user.secondary_skill_1%></td>
		</tr>
		<tr>
		<th>Secondary skill 2</th>
		<td><%= current_user.secondary_skill_2%></td>
		</tr>

		</table>
		<br>
		<button><%= link_to "Log Out",logout_path %></button>


	<%end%>

	<div class="content"> 

	

<!-- Use a button to pause/play the video with JavaScript -->

</div>




<!-- Optional: some overlay text to describe the video -->






<p id="notice"><%= notice %></p>


</body>
</html>





